# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for executing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

## Installing and Using Pandas

Installation of Pandas on your system requires NumPy to be installed, and if building the library from source, requires the appropriate tools to compile the C and Cython sources on which Pandas is built.
Details on this installation can be found in the [Pandas documentation](http://pandas.pydata.org/).

Once Pandas is installed, you can import it and check the version:

In [ ]:
import pandas
pandas.__version__

# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices.
As we will see during the course of this chapter, Pandas provide a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are.
Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the ``Series``, ``DataFrame``, and ``Index``.

We will start our code sessions with the standard NumPy and Pandas imports:

In [1]:
import numpy as np
import pandas as pd

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [2]:
counts=pd.Series([123,243,543,355,324])
counts

0    123
1    243
2    543
3    355
4    324
dtype: int64

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [3]:
counts.values

array([123, 243, 543, 355, 324], dtype=int64)

In [4]:
counts.index

RangeIndex(start=0, stop=5, step=1)

We can assign meaningful labels to the index, if they are available:

In [5]:
st=pd.Series([123,243,543,355,324],
             index=["Akash","Ak","Anvi","Kulal","sh"])
print(st)

Akash    123
Ak       243
Anvi     543
Kulal    355
sh       324
dtype: int64

These labels can be used to refer to the values in the `Series`.

In [6]:
st["Ak"]

243

Notice that the indexing operation preserve the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [7]:
st[1]

243

We can give both the array of values and the index meaningful labels themselves:

In [8]:
st.name="MCE"
st.index.name="CSE"
print(st)

CSE
Akash    123
Ak       243
Anvi     543
Kulal    355
sh       324
Name: MCE, dtype: int64

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [9]:
np.log(st)

CSE
Akash    4.812184
Ak       5.493061
Anvi     6.297109
Kulal    5.872118
sh       5.780744
Name: MCE, dtype: float64

We can also filter according to the values in the `Series`:

In [10]:
st[st>500]

CSE
Anvi    543
Name: MCE, dtype: int64

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

In [11]:
st_dict={"Akash":123,"Ak":243,"Anvi":543,"Kulal":355,"sh":324}
print(st_dict)
pd.Series(st_dict)

{'Akash': 123, 'Ak': 243, 'Anvi': 543, 'Kulal': 355, 'sh': 324}

Akash    123
Ak       243
Anvi     543
Kulal    355
sh       324
dtype: int64

### ``Series`` as generalized NumPy array

From what we've seen so far, it may look like the ``Series`` object is basically interchangeable with a one-dimensional NumPy array.
The essential difference is the presence of the index: while the Numpy Array has an *implicitly defined* integer index used to access the values, the Pandas ``Series`` has an *explicitly defined* index associated with the values.

This explicit index definition gives the ``Series`` object additional capabilities.

### Series as specialized dictionary

In this way, you can think of a Pandas ``Series`` a bit like a specialization of  Python dictionary.
A dictionary is a structure that maps arbitrary keys to set of arbitrary values, and ``Series`` is a structure which maps typed keys to a set of typed values.
This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than Python list for certain operations, the type information of a Pandas ``Series`` makes it much more efficient than Python dictionaries for certain operations.

The ``Series``-as-dictionary analogy can be made even more clear by constructing a ``Series`` object directly from Python dictionary:

## DataFrame: bi-dimensional Series with two (or more) indices

A DataFrame represents a tabular, spreadsheet-like data structure containing an ordered collection of columns, each of which can be a different value type (numeric, string, boolean, etc.). 

The DataFrame has both row and column index; it can be thought of as a dict of Series (all sharing the same index).

DataFrame's can be created in different ways. One of them is from dict's.

In [62]:
a={"Akash":["AK","SH","LA","AN"],
  "Year":[2002,2004,2001,2006],
  "Value":[0.1,0.4,0.9,0.3]}
print(a)
aj=pd.DataFrame(a)
print(aj)

{'Akash': ['AK', 'SH', 'LA', 'AN'], 'Year': [2002, 2004, 2001, 2006], 'Value': [0.1, 0.4, 0.9, 0.3]}
  Akash  Year  Value
0    AK  2002    0.1
1    SH  2004    0.4
2    LA  2001    0.9
3    AN  2006    0.3

To change the order of the columns:

In [63]:
df=pd.DataFrame(aj,columns=["Year","Akash","Value"])
print(df)

   Year Akash  Value
0  2002    AK    0.1
1  2004    SH    0.4
2  2001    LA    0.9
3  2006    AN    0.3

An `index` can be passed (as with Series), and passing column names not existing, will result in missing data.

Assigning values to new columns is easy

In [64]:
df["AB"]=df.Year/df.Value
df

   Year Akash  Value            AB
0  2002    AK    0.1  20020.000000
1  2004    SH    0.4   5010.000000
2  2001    LA    0.9   2223.333333
3  2006    AN    0.3   6686.666667

In [65]:
df["Seri_alln"]=pd.Series(range(4),index=[0,1,2,3])
print(df)

   Year Akash  Value            AB  Seri_alln
0  2002    AK    0.1  20020.000000          0
1  2004    SH    0.4   5010.000000          1
2  2001    LA    0.9   2223.333333          2
3  2006    AN    0.3   6686.666667          3

Passing a dicts where the values are dicts is also possible

In [66]:
df.to_dict()

{'Year': {0: 2002, 1: 2004, 2: 2001, 3: 2006},
 'Akash': {0: 'AK', 1: 'SH', 2: 'LA', 3: 'AN'},
 'Value': {0: 0.1, 1: 0.4, 2: 0.9, 3: 0.3},
 'AB': {0: 20020.0, 1: 5010.0, 2: 2223.3333333333335, 3: 6686.666666666667},
 'Seri_alln': {0: 0, 1: 1, 2: 2, 3: 3}}

In [67]:
pd.DataFrame(df.to_dict())

   Year Akash  Value            AB  Seri_alln
0  2002    AK    0.1  20020.000000          0
1  2004    SH    0.4   5010.000000          1
2  2001    LA    0.9   2223.333333          2
3  2006    AN    0.3   6686.666667          3

### DataFrame as specialized dictionary

Similarly, we can also think of a ``DataFrame`` as a specialization of dictionary.
Where a dictionary maps a key to a value, a ``DataFrame`` maps a column name to a ``Series`` of column data.
For example, asking for the ``'area'`` attribute returns the ``Series`` object containing the areas we saw earlier:

#### From a list of dicts

Any list of dictionaries can be made into a ``DataFrame``.
We'll use a simple list comprehension to create some data:

In [18]:
d=[{'a':i,'b':10*i}for i in range(5)]
print(d)
pd.DataFrame(d)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 10}, {'a': 2, 'b': 20}, {'a': 3, 'b': 30}, {'a': 4, 'b': 40}]

   a   b
0  0   0
1  1  10
2  2  20
3  3  30
4  4  40

Even if some keys in the dictionary are missing, Pandas will fill them in with ``NaN`` (i.e., "not a number") values:

In [19]:
df=pd.DataFrame([{"aa":1,"bb":2},{"bb":3,"cc":4}])
print(df)
dd=df.to_dict()
print("\n",dd)

    aa  bb   cc
0  1.0   2  NaN
1  NaN   3  4.0

 {'aa': {0: 1.0, 1: nan}, 'bb': {0: 2, 1: 3}, 'cc': {0: nan, 1: 4.0}}

#### From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a ``DataFrame`` with any specified column and index names.
If omitted, an integer index will be used for each:

In [20]:
pd.DataFrame(np.random.randint(3,15),columns=["ak","an"],index=['x','y','z'])

   ak  an
x  10  10
y  10  10
z  10  10

## The Pandas Index Object

We have seen here that both the ``Series`` and ``DataFrame`` objects contain an explicit *index* that lets you take reference and modify data.
This ``Index`` object is an interesting structure in itself, and it can be thought of either as an *immutable array* or as an *ordered set* (technically a multi-set, as ``Index`` objects may contain repeated values).
Those views have some interesting consequences in the operations available on ``Index`` objects.
As a simple example, let's construct an ``Index`` from a list of integers:

In [21]:
ind=pd.Index([4,2,7,9,4,6])
ind

Int64Index([4, 2, 7, 9, 4, 6], dtype='int64')

### Index as immutable array

The ``Index`` in many ways operates like an array.
For example, we can use standard Python indexing notation to retrieve values or slices:

In [22]:
ind[4]

4

In [23]:
ind[::]

Int64Index([4, 2, 7, 9, 4, 6], dtype='int64')

In [24]:
ind[2:5:2]

Int64Index([7, 4], dtype='int64')

``Index`` objects also have many of the attributes familiar from NumPy arrays:

In [25]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

6 (6,) 1 int64

One difference between ``Index`` objects and NumPy arrays is that indices are immutable–that is, they cannot be modified via normal means:

In [26]:
ind[2]=3

TypeError: Index does not support mutable operations

This immutability makes it safer to share indices between multiple ``DataFrame``s and arrays, without the potential for side effects from inadvertent index modification.

# Operating on Data in Pandas

One of the essential pieces of NumPy is the ability to perform quick element-wise operations, both with basic arithmetic (addition, subtraction, multiplication, etc.) and with more sophisticated operations (trigonometric functions, exponential and logarithmic functions, etc.).
Pandas inherits much of this functionality from NumPy, and the ufuncs are key to this.

Pandas includes a couple useful twists, however: for unary operations like negation and trigonometric functions, these ufuncs will *preserve index and column labels* in the output, and for binary operations such as addition and multiplication, Pandas will automatically *align indices* when passing the objects to the ufunc.
This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof with Pandas.
We will additionally see the well-defined operations between one-dimensional ``Series`` structures and two-dimensional ``DataFrame`` structures.

## Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas ``Series`` and ``DataFrame`` objects.
Let's start by defining a simple ``Series`` and ``DataFrame`` on which to demonstrate this:

In [43]:
rng=np.random.RandomState(10)
ser=pd.Series(rng.randint(0,10,4))
print(ser)

0    9
1    4
2    0
3    1
dtype: int32

In [44]:
dfr=pd.DataFrame(rng.randint(0,10,(6,4)),
                 columns=["A","K","S","H"])
dfr

   A  K  S  H
0  9  0  1  8
1  9  0  8  6
2  4  3  0  4
3  6  8  1  8
4  4  1  3  6
5  5  3  9  6

If we apply a NumPy ufunc on either of these objects, the result will be another Pandas object *with the indices preserved:*

In [45]:
np.exp(ser)

0    8103.083928
1      54.598150
2       1.000000
3       2.718282
dtype: float64

Or, for a slightly more complex calculation:

In [46]:
np.sin(dfr*np.pi/4.0)

              A             K             S             H
0  7.071068e-01  0.000000e+00  7.071068e-01 -2.449294e-16
1  7.071068e-01  0.000000e+00 -2.449294e-16 -1.000000e+00
2  1.224647e-16  7.071068e-01  0.000000e+00  1.224647e-16
3 -1.000000e+00 -2.449294e-16  7.071068e-01 -2.449294e-16
4  1.224647e-16  7.071068e-01  7.071068e-01 -1.000000e+00
5 -7.071068e-01  7.071068e-01  7.071068e-01 -1.000000e+00

## Universal Functions: Index Alignment

For binary operations on two ``Series`` or ``DataFrame`` objects, Pandas will align indices in the process of performing the operation.
This is very convenient when working with incomplete data, as we'll see in some of the examples that follow.

### Index alignment in Series

As an example, suppose we are combining two different data sources, and find only the top three US states by *area* and the top three US states by *population*:

In [51]:
area=pd.Series({"India":199032,"China":172632,"Russia":13422},name="Area")
popu=pd.Series({"China":1112763,"India":1098371,"USA":773679},name="Population")

print(area)
print()
print(popu)

India     199032
China     172632
Russia     13422
Name: Area, dtype: int64

China    1112763
India    1098371
USA       773679
Name: Population, dtype: int64

Let's see what happens when we divide these to compute the population density:

In [53]:
popu/area

China     6.445868
India     5.518565
Russia         NaN
USA            NaN
dtype: float64

The resulting array contains the *union* of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [56]:
area.index | popu.index

C:\Users\Dell\AppData\Local\Temp\ipykernel_10108\3332844161.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  area.index | popu.index

Index(['China', 'India', 'Russia', 'USA'], dtype='object')

In [58]:
A=pd.Series([5,2,6],index=[0,1,2])
B=pd.Series([3,6,9],index=[1,2,3])
print(A)
print(B)

A+B

0    5
1    2
2    6
dtype: int64
1    3
2    6
3    9
dtype: int64

0     NaN
1     5.0
2    12.0
3     NaN
dtype: float64

If using NaN values is not the desired behavior, the fill value can be modified using appropriate object methods in place of the operators.
For example, calling ``A.add(B)`` is equivalent to calling ``A + B``, but allows optional explicit specification of the fill value for any elements in ``A`` or ``B`` that might be missing:

In [60]:
A.add(B,fill_value=0)

0     5.0
1     5.0
2    12.0
3     9.0
dtype: float64

The following table lists Python operators and their equivalent Pandas object methods:

| Python Operator | Pandas Method(s)                      |
|-----------------|---------------------------------------|
| ``+``           | ``add()``                             |
| ``-``           | ``sub()``, ``subtract()``             |
| ``*``           | ``mul()``, ``multiply()``             |
| ``/``           | ``truediv()``, ``div()``, ``divide()``|
| ``//``          | ``floordiv()``                        |
| ``%``           | ``mod()``                             |
| ``**``          | ``pow()``                             |

## Ufuncs: Operations Between DataFrame and Series

When performing operations between a ``DataFrame`` and a ``Series``, the index and column alignment is similarly maintained.
Operations between a ``DataFrame`` and a ``Series`` are similar to operations between two-dimensional and one-dimensional NumPy array.
Consider one common operation, where we find the difference of a two-dimensional array and one of its rows:

# Data wrangling
Getting the data in the shape that we want is the single most time consuming task in the life of the Data Scientist. Sometimes it can be the most frustrating.

## Merge operations
By merging we mean combining different data sets by linking rows with one or more keys. The basic syntax is very simple.

In [68]:
df

   Year Akash  Value            AB  Seri_alln
0  2002    AK    0.1  20020.000000          0
1  2004    SH    0.4   5010.000000          1
2  2001    LA    0.9   2223.333333          2
3  2006    AN    0.3   6686.666667          3

In [73]:
df2=pd.DataFrame({"Akash":['AK','LA','AN',"SH"],"Population":[2000,12220,23034,4000]})
df2

  Akash  Population
0    AK        2000
1    LA       12220
2    AN       23034
3    SH        4000

Let's say we want a dataset with year, literacy, province and population. We can create it from `df` and `df2`.

In [74]:
df.merge(df2)  # merge is smart! If there are overlapping names, it uses those for the merge

   Year Akash  Value            AB  Seri_alln  Population
0  2002    AK    0.1  20020.000000          0        2000
1  2004    SH    0.4   5010.000000          1        4000
2  2001    LA    0.9   2223.333333          2       12220
3  2006    AN    0.3   6686.666667          3       23034

If the column names are different, you need to specify them explicitely

In [81]:
df3=pd.DataFrame({"akash":["AK","AN"],"Population":[12020,10292]})
print(df3,"\n")

df.merge(df3,left_on="Akash",right_on="akash")

  akash  Population
0    AK       12020
1    AN       10292

   Year Akash  Value            AB  Seri_alln akash  Population
0  2002    AK    0.1  20020.000000          0    AK       12020
1  2006    AN    0.3   6686.666667          3    AN       10292

What happened? Zuid Holland is weg!

By default `merge` does inner joins. If you want a different type of join, you can specify it.

In [83]:
df4=pd.DataFrame({"Akash":["AK","AN","VD"],"Population":[1000,2000,3000]})
df.merge(df4,how="outer")

     Year Akash  Value            AB  Seri_alln  Population
0  2002.0    AK    0.1  20020.000000        0.0      1000.0
1  2004.0    SH    0.4   5010.000000        1.0         NaN
2  2001.0    LA    0.9   2223.333333        2.0         NaN
3  2006.0    AN    0.3   6686.666667        3.0      2000.0
4     NaN    VD    NaN           NaN        NaN      3000.0

Check this out:

In [84]:
df5=pd.DataFrame({"Akash":["AK","AN","AK"],"Population":[1000,2000,3000]})
df.merge(df5,how="outer")

   Year Akash  Value            AB  Seri_alln  Population
0  2002    AK    0.1  20020.000000          0      1000.0
1  2002    AK    0.1  20020.000000          0      3000.0
2  2004    SH    0.4   5010.000000          1         NaN
3  2001    LA    0.9   2223.333333          2         NaN
4  2006    AN    0.3   6686.666667          3      2000.0

This was a many-to-many merge. Even though if you think about it, the behavior is what you expect, you might still not think about it and be surprised!

### Combining data with overlap
Sometimes some data is missing, and it can be "patched" with another dataset. Let's take a look.

In [88]:
seri_a=pd.Series([np.nan,3.4,np.nan,2.3,5.6,np.nan],index=['a','n','v','i','t','h'])
seri_b=pd.Series(np.arange(len(seri_a),dtype=np.float64),index=['a','n','v','i','t','h'])

In [89]:
seri_a

a    NaN
n    3.4
v    NaN
i    2.3
t    5.6
h    NaN
dtype: float64

In [90]:
seri_b

a    0.0
n    1.0
v    2.0
i    3.0
t    4.0
h    5.0
dtype: float64

Let's say we want to update `a` with the values from `b`. The num-pythonic way to do that is

In [94]:
pd.Series(np.where(pd.isnull(seri_a),seri_b,seri_a),index=seri_a.index)

a    0.0
n    3.4
v    2.0
i    2.3
t    5.6
h    5.0
dtype: float64

That's a bit verbose for something so simple. What about this:

In [96]:
seri_a.combine_first(seri_b)

a    0.0
n    3.4
v    2.0
i    2.3
t    5.6
h    5.0
dtype: float64